API_KEY=SKlGyQ8oJVhMRD7MjRS2cjFxNjNICAQqfjIXE1YeoV
BASE_API_URL=https://de27-197-186-9-205.ngrok-free.app
BASE_URL=https://de27-197-186-9-205.ngrok-free.app
TIS_API_UPSTREAM=https://de27-197-186-9-205.ngrok-free.app
CLIENT_ID=ID40PGDVH58YxcPHSxFvZbg6QaT2LK4O
DB_HOST=sdb-71.hosting.stackcp.net
DB_NAME=Getway-app-35303539c325
DB_PASSWORD=Getway2026
DB_PORT=3306
DB_USER=admin-48da
PORT=5000
